.panel{
    margin: 0;
    padding: 0;
    height: 40px;
    background-color: #222f3d;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.panelall{
    height: 100%;
    Margin-left: 0;
    line-height: 50px;
}
.ce{
    height: 40px;
    text-align: center;
    line-height: 30px;
}
.panelopt{
    width:80%;
   font-size: 0.8rem;

}
.panelopt p{
    display: inline;
}
.panelele{
    margin-right: 0;
    font-size: 0.8rem;
    font-weight: bold;
}